<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar el coche</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" color="update " [strong]="true">Actualizar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Marca" [(ngModel)]="brand" placeholder="Marca del coche"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Modelo" [(ngModel)]="model" placeholder="Modelo del coche"></ion-input>
  </ion-item>
</ion-content>