<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="carapp">CarZone</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="disp-flex">
    <ion-button expand="block" (click)="gotoCarsHome()">Home</ion-button>
    <ion-button expand="block" (click)="gotoCarsForm()">Crear coche</ion-button>
    <ion-button expand="block" (click)="gotoCarsList()">Ver coches</ion-button>
  </div>

  <h1>Crear un coche</h1>
  <form class="form-container" [formGroup]="carForm" (ngSubmit)="createCar()">
    <div class="form-content">
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input type="text" formControlName="brand"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="getFormControl('brand')?.hasError('required') && getFormControl('brand')?.touched">
        La marca es obligatoria
      </ion-note>
      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input type="text" formControlName="model"></ion-input>
      </ion-item>
      <ion-note color="danger"
        *ngIf="getFormControl('model')?.hasError('required') && getFormControl('model')?.touched">
        El modelo es obligatorio
      </ion-note>
      <ion-item>
        <ion-label position="floating">Combustible</ion-label>
        <ion-input type="text" formControlName="fuel"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getFormControl('fuel')?.hasError('required') && getFormControl('fuel')?.touched">
        El Combustible es obligatorio
      </ion-note>
      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input type="text" formControlName="year"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getFormControl('year')?.hasError('required') && getFormControl('year')?.touched">
        El Año es obligatorio
      </ion-note>
      <ion-item>
        <ion-label position="floating">Fuerza</ion-label>
        <ion-input type="text" formControlName="hs"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="getFormControl('hs')?.hasError('required') && getFormControl('hs')?.touched">
        La Fuerza es obligatorio
      </ion-note>
    </div>

    <ion-button color="carapp" type="submit" [disabled]="!carForm.valid">agregar coche</ion-button>
  </form>

</ion-content>